<div class="container">
    <div class="row">
        <div class="col">
            <div >
                Empleado: <strong>{{indice}} </strong>
                Nombre: <strong>{{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}}</strong>
                Cargo: <strong>{{empleadoDeLista.cargo}}</strong> 
                Salario: <strong>{{empleadoDeLista.salario}}</strong>
            </div>
            
            <!-- <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
            <ul style="list-style: none;">
                <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
            </ul> -->
        </div>
    </div>
</div>

